main{
    margin: 0 auto;
    max-width: 80%
}

.nav-container{
  border-bottom: solid gray 1px;
  display: flex;
  width: 100%;
  height: 5em;
}
.nav-logo{
    display: flex;
    flex: 1;
    justify-content: start;
    max-width: 10%;
    height: 95%;
}
.nav-options{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    max-height: 95% ;
}
.nav-options li{
    display: inline;
    margin-right: 1.5em; 
}