.nav-container{
  border-bottom: solid gray 1px;
  display: flexbox;
  width: 100%;
  height: 5em;
}
.nav-logo{
    display: flex;
    justify-content: flex-start;
    max-width: 10%;
    height: 95%;
}
.nav-options{
    display: flex;
    justify-content: flex-end;
    max-height: 95% ;
}
li{
    display: inline;
    margin-right: 1.5em; 
}